.movie-card {
  width: 100%;
  display: flex;
  margin: 2rem 1rem;
  border-bottom: solid black 1px;
}

.movie-card img {
  width: 300px;
  margin-bottom: 2rem;
}

.movie-card h2 {
  margin-bottom: 0;
}

.movie-card .card-details {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.card-details .desc {
  width: 95%;
}
